# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_TOTEM_LEFT

config ZMK_KEYBOARD_NAME
    default "TOTEM"

# Only relevant when running without a dongle. The dongle builds in build.yaml
# override this with -DCONFIG_ZMK_SPLIT_ROLE_CENTRAL=n.
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_TOTEM_DONGLE

# Max 16 characters
config ZMK_KEYBOARD_NAME
    default "TOTEM Dongle"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

# Number of keyboard halves connecting to the dongle
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

# ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS + the 5 host BLE profiles
config BT_MAX_CONN
    default 7

config BT_MAX_PAIRED
    default 7

endif

if SHIELD_TOTEM_LEFT || SHIELD_TOTEM_RIGHT || SHIELD_TOTEM_DONGLE

config ZMK_SPLIT
    default y

endif
